!!!
%html
  %head
    %title Project Gage
    /[if IE]
      %script{:type => "text/javascript", :src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body{ data: { controller: "#{controller_name}", action: "#{action_name}" } }
    .fixed
      %nav.top-bar
        %ul.title-area
          %li.name
            = link_to image_tag('gs_logo.png'), root_path, id: 'logo'
          %li.toggle-topbar
            %a{ href: "#"}
        %section.top-bar-section
          %ul.right
            %li
              = link_to 'Dashboard', root_path
    .container
      .row
        .twelve.columns
          #flash
            - flash.each do |name, msg|
              %div{class: "alert-box #{name == :notice ? "success" : "alert"}"}
                %a{class: "close", href: "#"} &times
                = msg
      .row
        = yield
        %footer